* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.container{
    background-color: rgb(138, 45, 64);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 500px;
}

p{
    font-size: 2rem;
    color: white;
}



