* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    flex-direction: column;
}

main {
    height: 100vh;
    background-color: gray;
}

.container{
    background-color: rgb(138, 45, 64);
    border-radius: 50%;

    height: 500px;
    width: 500px;

    gap: 2rem;
}

p{
    font-size: 4rem;
    color: white;
}

form{

    font-size: 3rem;
}

input {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: rgb(138, 45, 64);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto-js {
    color: rgb(255, 0, 234);
    font-size: medium;
}

.img50 {
    height: 50px;
    width: 50px;
}

